# AL Project (Dynamics 365 Business Central)

# VS Code
.vscode/*

# AL caches
.alcache/
.alpackages/
.snapshots/

# Build / output
.output/
bin/
obj/

# App packages
*.app

# RAD
rad.json

# Translations
*.g.xlf

# License files
*.bclicense
*.flf

# Tests
TestResults.xml
*.trx

# Environment variables
.env